html,
body,
#root
{
	height: 100%;
}

#root > div.container-fluid
{
	min-height: calc(100% - 107px);
}

.App {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1200px;
  background-color: rgb(229, 229, 229);
  display: flex;
  flex-direction: column;
}

.link, .link:visited {
  color: #61dafb;
}

.link:hover {
  color: #c2f2ff;
}

.Content {
  margin: 0 20px;
  flex: 1;
}
